%uniqueRegularFont {
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
}

body {
  background: $black;
  color: $white;
  @extend %uniqueRegularFont;
}

.Mirror {
  position: absolute;
  font-size: 2em;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  &-section {
    position: absolute;
    &--top {
      top: 0;
    }
    &--right {
      right: 0;
    }
    &--bottom {
      bottom: 0;
    }
    &--left {
      left: 0;
    }
  }
}